@import '/src/assets/styles/sass-power.scss';

.swiper{
    &__body{
        max-width:500px;
        text-align: center;
        @include flex(column, center, null, null);
    }
    &__title{
        margin-bottom: 8px;
    }
    &__desc{
        margin-bottom: 24px;
    }
    &__subtitle{
        margin-bottom: 48px;
    }
    &__btn{
        margin-top: 24px;
    }
    &__img{
        @include ptl(absolute, 0, 0, -1, 100%, 100%);
        object-fit: cover;
    }

}

div.swiper-container{
    height: 571px;
    position: relative;

    display: grid;
    place-items:center;
}