@import '/src/assets/styles/sass-power.scss';

.filter{
    margin:10px 0;

    &__form{
        @include flex(row, center, null,20px);
        flex-wrap:wrap;

        @media(min-width:767px) {
            flex-wrap:nowrap;
        }

        label{
            flex:1 1 100%;
            position: relative;

            & svg {
                @include ptl(absolute, 50%, 16px, 1, null, null);
                transform:translateY(-50%);
            }
        }
    }

    &__btn{
        flex-shrink: 0;
        @include flex(row, center, center, 8px);
    }
}

.menu{
    margin-top: 20px;
    background-color:#fff;
    border:1px solid $color-fourthly;
    &__row{
        padding:30px;
        border-radius:2px;
        background-color:fff;
    }
    &__column{
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        h3{
            margin-bottom: 10px;
        }
    }
    .column-body{
        @include flex(row, null, null, 20px);
        flex-wrap:wrap;
        
        & > * {
            flex:1 1 auto;
            @media(min-width:576px) {
                flex:0 0 200px;
            }
        }
    }
}

@media(min-width:767px) {
    .filter{
        &__form{
                flex-wrap:nowrap;
            label{
                flex:1 1 auto;
            }
        }
    }
}