@import '/src/assets/styles/sass-power.scss';

.why{
    display: grid;
    @include grid(243px, 60px);
    &__column{
        text-align: center;
    }  
    &__icon{
        margin-bottom: 24px;
    }
    &__title{
        margin-bottom: 8px;
    }
}