@import '/src/assets/styles/sass-power.scss';

.new-house{
}
.column-body__flex{
    @include grid(250px, 24px);
}

.menu__column-flex{
    @include flex(row, null, null, 20px);
    flex-wrap:wrap;
    input{
        flex:1 1 auto;
        @media(min-width:767px) {
            flex:1 1 calc(100% - 151px);
        }
    }
    button{
        flex:0 0 131px;
    }
    div{
        flex: 1 1 100%;
    }
}

.new-house__imgs{
    @include flex(row, center, null, 30px);
    flex-wrap:wrap;
    div {
        flex:0 0 200px;
        @include flex(column,null, center, null);
    }

    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}