@import '/src/assets/styles/sass-power.scss';


.my-properties{
    padding:34px 0 96px 0;
    &__top{
        @include flex(row, center, space-between, null);
        margin-bottom: 32px;

        input{
            padding-left: 0;
            border-width: 2px;
            &::placeholder{
                color:$color-secondary;
            }
        }
    }

    &__details{
        display: flex;
        gap:16px;
        min-width:500px;
    }

    &__img{
        position: relative;

        flex:0 0 113px;
        background-color:$color-secondary;
        border-radius:3px;
        overflow: hidden;
        & > img {
            @include ptl(absolute, 0, 0, 1, 100%, 100%);
            object-fit: cover;
        }
    }
    &__feat{
        display: block;
        @include ptl(absolute, 4px, 4px, null, null, null);
        padding:5px 12px;
        border-radius:3px;
        background-color:$color-primary;
        color:#fff;
        text-transform: uppercase;
        font-size: 10px;
        line-height: calc(12.7 / 10); 
    }
    &__feat-dark{
        position: relative;
        background-color:$color-primary;
        align-self: flex-start;
        margin-left: 24px;
    }

    &__body{
        display: flex;
        flex-direction:column;
        flex:1 1 auto;

        .top{
            max-width:270px;
            overflow-x: auto;
        }
    }
    &__subtitle{
    }
    &__action{
        display: flex;
        gap:37px;

    }
}

.center{
    text-align: center;
}