@import '/src/assets/styles/sass-power.scss';

.header{
    background-color:$color-secondary;
    padding:14px 0;

    &__menu-btn{
        display: none !important;
    }
    &__close-btn{
        display: none !important;
    }
    &__row{
        @include flex(row, center, space-between, 0);
    }
    &__logo{
        @include flex(row, center, normal, 11px);

        p{
            display: none;
        }
    }
    &__menu{
        &.not-hidden{
            left: 0;
            transition: all 0.5s ease 0s;
        }
    }
    &__list{
        @include flex(row, center, center, 64px);
    }
    &__media{
        display: none;
        button{
            transition:all 0.3s ease 0s;
            &:hover{
                background-color: $color-fourthly;
                transition:all 0.3s ease 0s;
            }
        }
    }
    @media(max-width:767px) {
        &__menu-btn{
            display: block !important;
        }
        &__close-btn{
            display: block !important;
            @include ptl(absolute, 22px, 16px, 1, normal, normal);
        }
        &__menu{
            @include ptl(fixed, 0, -100%, 50, 100%, 100vh);
            background-color:#fff;
            
            display: grid;
            align-content: center;
            gap:128px;
            transition: all 0.7s ease 0s;
        }
        &__list{
            @include flex(column, center, center, 24px);

        }
        &__media{
            @include flex(row, center, center, 37px);
        }
        &__link {
            color:$color-secondary;
            font-weight: 500;
        }
    }
    @media(min-width:768px) {
        &__logo{
            p{
                display: block;
            }
        }
    }
}