@import '/src/assets/styles/sass-power.scss';

.properties{
    &__container{
        flex:1 1 auto;
        @include grid(380px, 20px);
        margin-bottom:50px;
    }
}


.title{
    text-align: center;
}