@import  '/src/assets/styles/sass-power.scss';

.footer{
    background-color:$color-secondary;
    padding: 16px 0;

    &__row{
        @include flex(row, center, space-between, 24px);
        flex-wrap:wrap;
    }

    &__btn{
        transform:rotate(-180deg);
    }
}