@import '/src/assets/styles/sass-power.scss';

.input{
    padding:0 16px;
    height: 44px;
    border:0px solid $color-fourthly;
    width: 100%;

    &::placeholder{
        font-size: inherit;
        color: inherit;
    }

    &:focus{
        border-color:$color-primary;
    }
    
    // =========== border ==============
    &__border-all{
        border-width:1px;
    }
    &__border-bottom{
        border-bottom-width:1px;
    }
    &__border-bottom-red{
        border-color:#f00;
        border-bottom-width:1px;
        
        &:focus{
            border-color:#f00;
        }

        &::placeholder{
            color:red;
        }
    }

    // =========== padding =============
    &__no-left-padding {
        padding-left: 0;
    }
    &__padding-more{
        padding-left: 44px;
    }
}