.ant-select-selector {
    height: 100% !important;
    border-radius:3px !important;

    display: grid;
    place-items:center;
    color:$color-secondary !important;
}
:where(.css-dev-only-do-not-override-ph9edi).ant-checkbox-wrapper+.ant-checkbox-wrapper{
    margin-inline-start: 0 !important;
}

// .css-dev-only-do-not-override-ph9edi {
//     width:70vw !important;

//     @media(min-width:1440px) {
//         & {
//             width:922px !important;
//         }
//     }
// }

// ul.css-dev-only-do-not-override-ph9edi {
//     width:auto !important;
// }

.ant-table-wrapper{
    overflow-x: auto;
}